body {
  margin: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #a5e1bb;
  font-family: Roboto, sans-serif;
  color: white;
}

.calc-area {
  width: 350px;
  height: 500px;
  background-color: #a5e1bb;
  border-radius: 10px;
  background: #a5e1bb;
  box-shadow:  20px 20px 40px #8cbf9f, 
             -20px -20px 40px #beffd7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-area {
  box-sizing: border-box;
  width: 320px;
  height: 120px;
  background-color: #212121;
  margin: 30px auto;
  color: #a5e1bb;
  font-size: 30px;
  padding: 5px 10px;
  overflow-x: scroll;
}

.button-area {
  width: 320px;
  height: 310px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;


}
.large-button {
  grid-column: 3 / 5;
  margin-left: 10px;
}